.about-section {
  text-align: center;
  font-family: var(--caveat);
  margin: 6rem 6rem 12rem;
  min-height: 33dvh;
}

.about-section-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2.66rem;
  white-space: nowrap;
}

.about-section-header>span {
  padding-bottom: 1rem;
}

.section-divider {
  background-color: var(--rich-purp);
  height: 5px;
  border: none;
}

.about-section-content {
  font-size: 1.66rem;
}

.about-section-content>p {
  width: 80%;
  margin: 1.66rem auto;
}

.machine-section {
  font-size: 1.33rem;
  font-family: var(--concert);
  line-height: 1.33;
  width: 66%;
  max-width: 720px;
  margin: auto;
  padding: 5rem 2rem;

}

.images-container {
  font-size: 1.66rem;
  margin: 13rem auto;
  border: 1px solid white;
  width: 50%;
}

.machine-section>p {
  padding: 1rem;
}

.machine-section>span {
  color: var(--orange);
}


@media screen and (max-width: 768px) {
  .about-nav {
    flex-flow: column nowrap;
  }

  .about-nav>a {
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    height: 3rem;
    width: 50%;
    margin: auto;
  }

  .about-nav>a>span {
    margin-top: 0rem;
  }

  .machine-section {
    width: 90%;
  }


  .about-section-content>p {}

  .about-section {
    margin: 3rem 1rem 8rem;
  }
}