.about-section {
  text-align: center;
  font-family: var(--caveat);
  margin: 3rem auto 12rem;
  min-height: 33dvh;
  max-width: 768px;
}

.about-section-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2.66rem;
  white-space: nowrap;
}

.about-section-header > span {
  padding-bottom: 1rem;
}

.section-divider {
  background-color: var(--rich-purp);
  height: 3px;
  border: none;
}

.decorative-icon {
  margin: 1rem auto;
}
.about-section-content {
  font-size: 1.66rem;
}

.about-section-content > p {
  width: 80%;
  margin: 1.66rem auto;
}

.machine-section {
  font-size: 1.33rem;
  font-family: var(--concert);
  line-height: 1.33;
  width: 66%;
  max-width: 720px;
  margin: auto;
  padding: 5rem 2rem;
}

.images-container {
  font-size: 1.66rem;
  margin: 3rem auto;
  border: 1px solid white;
  width: 50%;
}

.machine-section > p {
  padding: 1rem;
}

.machine-section > span {
  color: var(--orange);
}

@media screen and (max-width: 768px) {
  .about-section-content > p {
  }
}
