#root {
  font-family: var(--bagel);
  min-height: 100dvh;
  margin: 0 auto;
  background-color: #5f4b9f;
}

.App {}

.navbar {
  background-color: #33c2e4;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 6px 15px black;
}

.navbar>a {
  font-size: 1.33rem;
  margin: 1rem auto;

}

.product-card {
  max-width: 400px;
  margin: 2rem;
  display: inline-block;
}

.jumbotron-content {
  background: url(/asset-1.png) no-repeat center white;
  height: 400px;
  border-bottom: 3px solid #33c2e4;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .navbar>a {
    margin: .11rem auto;
  }
}