* {
  text-decoration: none;
}

#root {
  font-family: var(--lilita);
}

body {
  margin: 0;
}

.App {
  height: 100%;
}

.navbar {
  background: radial-gradient(white, var(--ocean), var(--ocean));
  border-bottom: 0.75rem solid var(--rich-purp);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding-top: 8rem;
  z-index: 3;
  text-transform: uppercase;
  filter: saturate(1.1);
  padding-bottom: 1rem;
}

.nav-links-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 80%;
  margin: 1rem auto 3rem;
  height: 5rem;
 }

.nav-links-container > a {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  height: 33%;
  width: 5.3rem;
  filter: drop-shadow(0 1px 1px rgba(25, 25, 25, 0.31));
  top: 0;
  border-left: 3px solid var(--rich-purp);
  border-radius: 15%;
  border-right: 3px solid var(--rich-purp); 
  color: var(--lightest);
  margin: 1rem;
  line-height: 1.1;
  transition: all .1s;
}

.nav-links-container a[data-active=true] {
  border-left: 5px solid var(--rich-purp);
  border-radius: 15%;
  border-right: 5px solid var(--rich-purp); 
}

.nav-links-container > a:hover {
  color: var(--lightest);
  filter: none;
}

.about {
  transform: translateY(-66px);
}

.quote {
  transform: translateY(-66px);
}

.logo-img {
  height: 330px;
  margin-bottom: 5rem;
  filter: drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.3)) saturate(1.4);
  image-rendering: crisp-edges;
}

.page-container {
  margin: 5rem auto;
  min-height: 33vh;
  height: 100%;
}

.page-container > * {
  height: 100%;
}

.note-container {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  width: 37%;
  margin: 3rem auto 7rem;
}

.note-container > h4 {
  font-family: var(--caveat);
  font-size: 1.66rem;
  margin-bottom: 0.5rem;
}

.note-container > p {
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  padding-bottom: 3rem;
  }
  .nav-links-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 1rem;
  }
  .nav-links-container > a {
    transform: none;
  }
  
  .note-container {
    width: 90%;
  }
  .logo-img {
    margin-bottom: 3rem;
  }
}
