#root {
  font-family: var(--bagel);
  min-height: 100dvh;
  margin: 0 auto;
  background: linear-gradient(to bottom, #5f4b9f, #5f4b9f, #5a6eb1, #33c2e4);
  background-color: #5f4b9f;
}

.App {
  height: 100%;
}

.navbar {
  background-color: #33c2e4;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 3px 1px rgba(20, 20, 20, .7);
  position: relative;
  z-index: 3;
}

.navbar>a {
  font-size: 1rem;
  margin: 1rem auto;
  text-transform: uppercase;
}
.navbar>a:hover {

  color: #5f4b9f;
}
.product-card {
  max-width: 400px;
  margin: 2rem;
  display: inline-block;
}

.jumbotron-content {
  background: url(/asset-1.png) no-repeat center white;
  background-size: 150px;
  height: 500px;
  box-shadow: 0px 0px 9px 1px rgba(20, 20, 20, .3);
  transform: translateY(-50px);
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .navbar>a {
    margin: .11rem auto;
  }
}