.section-header {
  text-align: center;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-icon-left {
  transform: scaleX(-1);
}
.header-icon-left,
.header-icon-right {
  margin: 0 0.5rem;
  color: var(--ocean);
  height: 1.33rem;
}


.recipe-name {
  color: rgba(51, 194, 228);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.33rem;
  font-family: var(--caveat);
}

.recipe-name > span {
  color: var(--orange);
  font-size: 150%;
}

.ingredients-list {
  font-size: 1.66rem;
  padding-bottom: 1rem;
  border-radius: 6px;
}

.ingredients-list > li {
  margin: 0.33rem auto;
  letter-spacing: 1px;
}
.ingredients-list > li:before,
.ingredients-list > li:after {
  content: '*';
  font-size: 66%;
  margin: 0.33rem;
  color: var(--orange);
  opacity: 0.8;
}

#recipes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  width: 90%;
  max-width: 1024px;
  margin: 5rem auto 21rem;
  font-size: 1.66rem;
  font-family: var(--caveat)
}

#recipes-grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  border-radius: 3px;
  border: 1px solid white;
  border-right: 1px solid var(--ocean);
  border-left: 2px solid var(--orange);
  margin: 2rem;
  box-shadow: 0px 0px 13px 5px rgba(25, 25, 25, 1)
}

h3.header-row {
  filter: drop-shadow(0 0 1px black)
}

@media screen and (max-width: 980px) {
  #recipes-grid {
    grid-template-columns: repeat(2, 1fr);
  }
} 
@media screen and (max-width: 768px) {
  .recipes-container {
    width: 100%;
    border-radius: 0;
    max-width: unset;
  }
  .recipe-name {
    justify-content: flex-end;
  }
  .ingredients-list {
    text-align: right;
  }
  .ingredients-list {
    font-size: 1.33rem;
  }
  .recipe-name {
    font-size: 1.66rem;
  }

  #recipes-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

