.section-header {
  text-align: center;
  font-size: 2rem;
  margin: 0 auto 1.5rem;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-icon-left {
  transform: scaleX(-1);
}
.header-icon-left,
.header-icon-right {
  margin: 0 0.5rem;
  color: var(--ocean);
  height: 1.33rem;
}
.recipes-container {
  width: 75%;
  max-width: 720px;
  /* background-color: rgba(95, 75, 159, 0.6); */
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  min-height: 450px;
  border-radius: 15px;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.5);
}

.recipe-nav-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100%;
  font-size: 1rem;
}

.recipe-nav {
  margin-left: auto;
  margin-right: 3rem;
  width: 50%;
}

.recipe-nav-item {
  font-family: var(--caveat);
  margin: 1rem;
  transition: all 0.5s;
  filter: drop-shadow(0 1px 3px black);
}

.recipe-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  text-align: center;
  border-radius: 3%;
  font-size: 1.33rem;
  width: 75%;
  margin: 7% auto;
}

.recipe-name {
  color: rgba(51, 194, 228);

  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.33rem;
  font-family: var(--caveat);
}

.recipe-name > span {
  color: var(--orange);
  font-size: 150%;
}

.ingredients-list {
  font-size: 1.66rem;
  padding-bottom: 1rem;
  border-radius: 6px;
}

.ingredients-list > li {
  margin: 0.33rem auto;
  letter-spacing: 1px;
}
.ingredients-list > li:before,
.ingredients-list > li:after {
  content: '*';
  font-size: 66%;
  margin: 0.33rem;
  color: var(--orange);
  opacity: 0.8;
}

#recipes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  width: 90%;
  max-width: 1024px;
  margin: 6rem auto 9rem;
    font-size: 1.66rem;
    font-family: var(--caveat)
}

#recipes-grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  border-radius: 3px;
  border: 1px solid white;
  border-right: 1px solid var(--ocean);
  border-left: 2px solid var(--orange);
  margin: 1rem;
  box-shadow: 0px 0px 15px 6px rgba(20, 20, 20, 1)
}

h3.header-row {
  filter: drop-shadow(0 0 1px black)
}

@media screen and (max-width: 768px) {
  .recipes-container {
    width: 100%;
    border-radius: 0;
    max-width: unset;
  }
  .recipe-name {
    justify-content: flex-end;
  }
  .ingredients-list {
    text-align: right;
  }
  .ingredients-list {
    font-size: 1.33rem;
  }
  .recipe-name {
    font-size: 1.66rem;
  }

  #recipes-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

