.header-icon-left {
  transform: scaleX(-1);
}
.header-icon-left,
.header-icon-right {
  margin: 0 0.5rem;
  color: var(--ocean);
  height: 1.33rem;
}

#recipes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  width: 90%;
  max-width: 1280px;
  margin: 5rem auto 21rem;
  font-size: 1.66rem;
  font-family: var(--caveat);
}

.recipe-cell {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-flow: column nowrap;
  height: 250px;
  width: 350px;
  border-radius: 3px;
  border: 1px solid white;
  border-right: 1px solid var(--ocean);
  border-left: 2px solid var(--orange);
  margin: 20px;
  box-shadow: 0px 0px 13px 5px rgba(25, 25, 25, 1);
  overflow-y: hidden;
  position: relative;
}

.recipe-name, .recipe-ingredients {
  width: 100%; 
  transition: all .8s;
}

.recipe-name {
  margin-top: 80px;
  margin-bottom: 130px;
  color: var(--ocean);
  text-align: center;
  font-size: 2.5rem;
}

.recipe-ingredients {
  display: flex;
  flex-flow: row wrap;
  margin-top: auto;
}

.recipe-ingredients > p {
  width: 40%;
  margin: .2rem auto;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-radius: 20%;
  text-align: center; 
}

h3.header-row {
  filter: drop-shadow(0 0 1px black);
}

@media screen and (max-width: 1280px) {
  #recipes-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .recipe-cell {
    width: 40vw;
  }
}

@media screen and (max-width: 768px) {
  .recipes-container {
    width: 100%;
    border-radius: 0;
    max-width: unset;
  } 
  #recipes-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .recipe-cell {
    width: 80vw;
  }
}
