.tip-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 3rem;
  background-color: rgba(28, 28, 28, 1);
  border-left: 2px solid var(--ocean);
  border-right: 2px solid var(--ocean);
  font-family: var(--lucky);
  box-shadow: 0 0px 9px 1px rgba(5, 5, 5, 0.7);
}

.tip-top > a {
  font-size: 1.8rem;
  margin: 0.66rem 0 0.66rem 2rem;
  line-height: 1;
  cursor: pointer;
  color: white;
}

@media screen and (max-width: 768px) {
  .tip-top > a {
    margin-bottom: .33rem 
  }
}