.tip-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 3rem;
  background-color: rgba(28, 28, 28, 1);
  border-left: 2px solid var(--ocean);
  border-right: 2px solid var(--ocean);
  font-family: var(--lucky);
  box-shadow: 0 1px 5px 1px rgba(5, 5, 5, .7);
}

.tip-top > a {
  font-size: 2rem;
  margin: .66rem 0 .66rem 2rem;
  line-height: 1;
  cursor: pointer;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.66rem 2rem;
  margin: auto auto 0;
}

.social-links > a {
  margin: 0 0.33rem;
}

.social-icon {
  transition: all 0.11s;
}

.social-icon:hover {
  color: var(--orange);
  transform: scale(1.1);
}

.strip {
  background-color: var(--lightest);
  color: var(--darkest);
  font-family: var(--caveat);
  text-align: center;
  letter-spacing: 2px;
  height: 2rem;
  display: flex;
  align-items: center;
  margin-top: 3.33rem;
  border-top: 2px solid var(--ocean);
  border-bottom: 2px solid var(--ocean);
  justify-content: center;
}
