.dropdown-toggle-btn {
  padding: .33rem 1rem;
  margin-right: 1rem;
  z-index: 10;
  right: 0;
  top: 0;
}

.burger-menu-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  height: 375px;
  background-color: rgba(5, 5, 5, .9);
  transition: all .33s;
  border-radius: 0 0 0 6px;
  box-shadow: 0px 0px 12px 1px rgba(5, 5, 5, .4);
}

#burger-nav-links {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  margin: 33% 2rem auto;
  font-size: 1.33rem;
}

#burger-nav-links > a {
  margin-bottom: 1rem;
  transform: unset;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem auto;
  width: 66%;
}

.burger-line {
  width: 20px;
  margin: 5px;
  height: 2px;
  border-radius: 1px;
  border-top: 3px solid white;
}

#burger-line-top {
  border-left: 3px solid white;
}

@keyframes top-collapse {
  0% {
    transform: rotate(-135deg);
    height: 20px;
  }
  100% {
    transform: rotate(0deg);
    height: 2px;
  }
}

@keyframes top-expand {
 0% {
    transform: rotate(0deg) ;
    height: 2px;
    margin: 0;
  }
  100% {
    transform: rotate(-135deg) ;
    height: 20px;
    margin: 0;
  } 
}

@keyframes mid-collapse {
  0% {
    width: 0px;
    border: 0px;
  }
  100% {
    width: 20px;
    border: 1px solid white;
    background-color: var(--orange)
  }
}

@keyframes mid-expand {
  0% {
    width: 20px;
    border: 1px solid white;
    background-color: var(rich-purp)
  }
  100% {
    width: 0px;
    border: 0px;
  }
}


@keyframes bot-collapse {
  0% {
    transform: rotate(-135deg);
    width: 0px; 
  }
  100% {
    transform: rotate(0deg);
    width: 20px;
    
  }
}

@keyframes bot-expand {
  0% {
    transform: rotate(0deg);
    width: 20px;
  }
  100% {
    transform: rotate(-135deg);
    width: 0px;
  }
}
