.navbar {
  background: radial-gradient(white, var(--ocean), var(--ocean));
  border-bottom: 0.75rem solid var(--rich-purp);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding-top: 7rem;
  padding-bottom: 2rem;
  z-index: 3;
  text-transform: uppercase;
  filter: saturate(1.1);
}

.nav-links-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  max-width: 36rem;
  margin: 1rem auto 3rem;
  height: 5rem;
}

.nav-links-container > a {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  height: 33%;
  width: 9rem;
  filter: drop-shadow(0 1px 1px rgba(25, 25, 25, 0.31));
  top: 0;
  border-left: 5px solid var(--rich-purp);
  border-right: 5px solid var(--rich-purp);
  border-radius: 15%;
  margin: 1rem;
  transition: all 0.2s;
  color: white;
  line-height: 1.2;
}

.nav-links-container a[data-active="true"] {
  transform: scale(1.2) translateY(-.2rem);
  border-radius: 20%;
}

.nav-links-container > a:hover {
  color: var(--lightest);
  filter: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
   }

  .nav-links-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 1rem;
  }

  .nav-links-container > a {
    margin: 0.5rem auto;
    line-height: 1;
    font-size: 90%;
  }

  .nav-links-container a[data-active="true"] {
    transform: scale(1.2);
    border-left: 7px solid var(--rich-purp);
    border-radius: 15%;
    border-right: 7px solid var(--rich-purp);
  }

  .note-container {
    width: 90%;
  }

  .logo-img {
    margin-bottom: 3rem;
  }
}
