.recipes-header {
  text-align: center;
  font-size: 2rem;
}

.recipes-container {
  display: flex;
  justify-content: space-between;
  padding: 6rem 2rem;
}

.recipe-nav-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  height: 100%;
  width: 33%;
}

.recipe-nav-item {
  font-size: 1.33rem;
  margin: 1rem;
  transition: all 0.5s;
}

.recipe-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  text-align: center;
  width: 66%;
  border-radius: 3%;
}

.recipe-name {
  font-size: 1.66rem;
  margin-bottom: 1rem;
  text-decoration: underline orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredients-list {
  background-color: #5f4b9f;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 6px;
}
.ingredients-list > li {
  margin: 0.33rem auto;
}
